<div>
  <h1>My Account</h1>
  <div class="container">
    <div class="row">
      <section>
        {{#each userData.pets as |pet|}}
        {{> user-pet-details}}
        {{/each}}
      </section>
    </div>
  </div>
</div>
<script>
    const removeDetails = document.getElementsByClassName('remove-details');
    for (i=0; i < removeDetails.length; i++){
      removeDetails[i].addEventListener('click', function(event){
        event.preventDefault();
        console.log('button pressed');
        this.parentNode.parentNode.removeChild(this.parentNode);
      })}
</script>
