<body>

    <header class="text-center text-white masthead" style="background:url('img/ezgif.com-gif-maker.jpg')no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    <h1 class="heading">Paws For Homes<span class="material-symbols-outlined">pets</span></h1>
                    <h2 class="subheading">Every pet deserves a friend and a bed</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                </div>
            </div>
        </div>
    </header>
    <section class="text-center bg-light features-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="bi bi-emoji-kiss m-auto text-dark" data-bss-hover-animate="pulse"></i></div>
                        <h3>Every pet deserves a friend</h3>
                        <p class="lead mb-0">Pets have to be registered with their local council to be put up for adoption with other sites</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="bi bi-lightbulb-off-fill m-auto text-dark" data-bss-hover-animate="pulse"></i></div>
                        <h3>Every pet deserves a bed</h3>
                        <p class="lead mb-0">Lockdowns across the globe has left pets alone and in need of attention and care</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="bi bi-house m-auto text-dark" data-bss-hover-animate="pulse"></i></div>
                        <h3>Every pet deserves a home</h3>
                        <p class="lead mb-0">We will provide a place for pet owners to find a new home for their pet or somewhere for their pet to stay until they can take care of them</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image:url(&quot;img/dogcar.jpg&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2 class="whyweexist">Why we exist</h2>
                    <p class="lead mb-0" id="whyweexistP">Lockdowns and rising cost of living have led to an increased number of pets being put up for adoption.</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;img/ezgif-3-f2ef6de720.jpg&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2 class="whoweare">Who we are</h2>
                    <p class="lead mb-0" id="whoweareP">We will create a place that facilitates people looking to find a new home for their pet. Or somewhere that the pet can stay for some time until the owner can take care of them.</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image:url(&quot;img/ezgif-4-3f643f8686.jpg&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2 class="whyUs">Why us...</h2>
                    <p class="lead mb-0" id="whyUs-P">Currently adoption websites require the pets to be registered with their respective council. However, we understand that not everyone has done this and don't want to limit a pet's ability to find a home.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center bg-light testimonials">
        <div class="container">
            <h2 class="mb-5">What people are saying...</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="img/IMG_1177.jpg">
                        <h5>Zoran M.</h5>
                        <p class="font-weight-light mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam rem eius, in aliquam aut quas. Harum hic fugit quaerat amet reiciendis! Est modi totam optio, deserunt temporibus fugiat! Tempora, dolores?</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="img/testimonials-2.jpg">
                        <h5>Oliver G.</h5>
                        <p class="font-weight-light mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolore maiores nostrum, reiciendis a facilis tempore illo repellendus quae nobis aperiam aliquid dignissimos maxime? Dolore illum impedit odio. Iure, corrupti.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="img/1662107905537.png">
                        <h5>Tao B.</h5>
                        <p class="font-weight-light mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dicta blanditiis mollitia corrupti quaerat vitae perspiciatis corporis, facere maxime sequi soluta quae consequuntur, error in? Doloremque modi unde laboriosam corrupti.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center text-white call-to-action" style="background:url(&quot;img/cat-footer.jpg&quot;) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    <h2 class="mb-4">Want to stay in the loop? Sign up for our free Newsletter!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                    <form class="home-page-sign-up">
                        <div class="row" action="/register" method="POST">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" type="email" placeholder="Enter your email..."></div>
                            <div class="col-12 col-md-3"><button class="btn btn-dark btn-lg" type="submit">Sign up!</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>