form h2
.accountP {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}

.accountP {
  align-items: center;
}
form, .search-form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0.4,0.7);
  border-radius: 10px;
  background: white;
}

.card-width {
  width: 30rem;
}


.register-form {
  height: 700px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color:#fff;
  width:16px
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color:#fff
}
::-webkit-scrollbar-track:hover {
  background-color:#fff
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:5px solid #fff
}
::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}


.home-page-sign-up {
  width: 620px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 1px 2px 3px rgba(0,0,0.4,0.7);
  border-radius: 10px;
  background: #9facb7;
  }

input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label{
  display: block;
  margin: 20px 0 10px;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.error{
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}